.button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 75px;
    border: none;
    @include text-size(12px, 15px, 700);
    letter-spacing: 2px;
    background-color: $coral;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    min-height: 75px;

    &:hover {
        background-color: $hover-button;
    }

    @media (max-width: $tablet-width) {
        @include text-size(10px, 12px, 500);
        height: 50px;
    }

    @media (max-width: $mobile-width) {
        @include text-size(10px, 12px, 700);
        width: 288px;
        margin: 0 auto;
    }

}
  