.page-footer__inner {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $tablet-width) {
        padding: 0 20px;
        grid-template-columns: 55% 45%;
        grid-template-areas: 
            "a b"
            "c c";
    
    }

   @media (max-width: $mobile-width) {
        padding: 0;
        display: flex;
        flex-direction: column;
   }
}

.page-footer__wrapper {
    border: solid $grey;
    
    &:first-child {
        border-width: 0 1px 0 0;

        @media (min-width: 768px) and (max-width: $tablet-width)  {
            grid-area: a;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @media (max-width: $mobile-width) {
            border: none;
        } 
    }

    &:nth-child(2) {
        border-width: 0;
        padding-left: 25%;

        @media (max-width: 1400px) {
            padding-left: 12%;
        }

        @media (min-width: 768px) and (max-width: $tablet-width) {
            grid-area: b;
        }

        @media (max-width: $mobile-width) {
            padding: 0;
            padding-top: 25px;
            width: 100%;
            border: solid $grey;
            border-width: 1px 0 1px 0;
        }
    }

    &:nth-child(3) {
        border-width: 0 0 0 1px;
        padding-left: 15%;

        @media (min-width: 768px) and (max-width: $tablet-width) {
            border-width: 1px 0 0 0;
            grid-area: c;
            width: 100%;
            text-align: center;
            padding-left: 0;
            padding-top: 30px;
            margin: 0 auto;
        }
    }

    @media (max-width: $mobile-width) {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        padding-top: 25px;
        padding-left: 0;
        border: none;
    }
}

.page-footer__heading {
    @include text-size(18px, 32px, $extra-black);
    margin-top: 0;
}

.page-footer__travel-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 0;
    row-gap: 10px; 
    padding-bottom: 0;

    @media(max-width: $mobile-width) {
        justify-content: start;
    }
}

.page-footer__travel-item {
    display: block;
    width: 33.3%;
    box-sizing: border-box;

   @media(max-width: $mobile-width) {
        text-align: center;
        width: 50%;

        &:nth-child(3n) {
            order: 3;
            width: 100%;
        }
    }
}

.page-footer__travel-link {
    text-decoration: none;
    @include text-size(14px, 17px, 400);
    color: $extra-black;
    opacity: 0.5;
}

.page-footer__contact-list {
    list-style: none;
}

.page-footer__contact-item:not(:last-child) {
     margin-bottom: 20px;
}


.page-footer__contact-link {
    color: $coral;

    & .mail {
        display: none;

        @media (max-width: $tablet-width) {
            display: block;
        }
    }

    & .address {
        @media (max-width: $tablet-width) {
            display: none;
        }
    }

    &--mail {
        position: relative;
        @include text-size(14px, 17px, 400);
    }

    & svg {
        stroke: $grey;
    }

    &--mail svg {
        position: absolute;
        left: -40px;

        @media (max-width: $tablet-width) {
            top: -5px;
        }

        @media (max-width: $mobile-width) {
            left: -60px;
        }
    }

    &--phone {
        border: none;
        font-size: 16px;
    }
}

.page-footer__offer-text {
    padding: 0;
    margin: 0;
    @include text-size(14px, 23px, 400);
    color: $extra-black;
    opacity: 0.5;
}