.places__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px;
    margin-bottom: 97px;

    @media(max-width: $mobile-width) {
        padding: 0 15px;
        margin-bottom: 40px;
    }
}

.places__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 70px;
    column-gap: 5%;

    @media(max-width: $tablet-width) {
    }

    @media(max-width: $mobile-width) {
        row-gap: 35px;
    }
};

.places__title {
    line-height: 80px;
    width: 20%;
    margin-bottom: 60px;

    &::after {
       @include title-line(228px, 4px, -30px);
    }

    @media (max-width: $tablet-width) {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        &::after {
            display: none;
        }
    }

}

.places__text {
    margin: 0;
    padding: 0;
    color: $dark;
    opacity: 0.7;
    letter-spacing: -0.5px;
    width: 328px;
    @include text-size(16px, 28px, 400);
    margin-bottom: 56px;

    @media(max-width: $tablet-width) {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        min-width: 343px;
    }

    @media(max-width: $mobile-width) {
        margin-bottom: 20px;
        width: 100%;
        min-width: auto;
    }
}

.places__item {
    width: 350px;
    height: 430px;

    @media(max-width: $tablet-width) {
        width: 288px;
        height: 425px;
    }
}

.places__link-hover {
    opacity: 0;
    width: 100%;
    height: 100%;
    
}

.places__link {
    text-decoration: none;

    &:hover .places__link-hover {
        opacity: 0.7;
    }
};

.places__link-title {
    margin-top: -60px;
    width: 100%;
    text-align: center;
    @include text-size(24px, 29px, 500);
    text-align: center;
    color: $extra-black;

    & span {
        display: inline-block;
        padding-top: 20px;
        min-width: 215px;
        min-height: 50px;
        background-color: white;
    } 
}


