$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;

$coral: #FE7865;
$black: #000000;
$extra-black: #141517;
$dark: #2c2e3f;
$hover-red: #fe7865;
$graphit: #48494d;
$hover-button: #f17d4b;
$grey: #d7d9df;
